<%- include('partials/header'); -%>


<div class="mid-content">
    <img src="images/profile-pic.jpeg" alt="profile picture" class="profPic">
    <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere urna nec tincidunt praesent semper. Sit amet nulla facilisi morbi tempus. Sed augue lacus viverra vitae congue eu consequat. Erat nam at lectus urna duis convallis convallis tellus. Nulla facilisi etiam dignissim diam quis enim lobortis. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Integer vitae justo eget magna. Tellus cras adipiscing enim eu turpis egestas pretium. Eu sem integer vitae justo eget magna fermentum iaculis. Cursus eget nunc scelerisque viverra.</p>
    <p>   Accumsan lacus vel facilisis volutpat est velit egestas. Placerat in egestas erat imperdiet sed euismod nisi porta lorem. Cras ornare arcu dui vivamus arcu felis bibendum ut tristique. Donec adipiscing tristique risus nec feugiat in fermentum. Amet mauris commodo quis imperdiet. Amet nisl suscipit adipiscing bibendum est ultricies. Magna eget est lorem ipsum dolor. Ac felis donec et odio. Sed odio morbi quis commodo odio aenean sed adipiscing diam. Id velit ut tortor pretium viverra suspendisse potenti nullam ac. Lacus viverra vitae congue eu consequat ac felis donec. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt eget.</p>
    
    <!-- check responivness -->
    
   </p>
</div>



<%- include('partials/footer'); -%>