<%- include('partials/header'); -%>


<div class="mid-content">
    <img src="images/profile-pic.jpeg" alt="pic" class="profPic">
    <h2>Hi, I'm Richard and I want to build you a great website!</h2>
    <p>   I am a native of Memphis, Tn who has lived there most of my life minus six years in New York City and one year in Chester, England. I love creating things that are useful to the world and the satisfaction that comes from solving a problem. The fact that it allows me to do both is why I enjoy programming so much. </p>
    <p>   I can create for you a modern, responsive, and interactive website that will look great. I have expeirience working with both the frontend and backend. I am proficient in HTML, CSS, JavaScript, Node, Express, and the use of API’s. I am available for both freelance and contract projects. 
    For more information about my skills and experience please see my resume below. Feel free to contact me if you have any questions or just want to discuss your website or project. </p>
    <!-- check responivness -->

    
   </p>
  <a href="/resume" target="_blank">
     My Resume</a>
</div>



<%- include('partials/footer'); -%>