<%- include('partials/header'); -%>

<div class="mid-content contact">
<a href="mailto:richardlwhittington@gmail.com">Send me an email!</a>
<a href="https://github.com/kilted2000" target="_blank">Github</a>
<a href="https://www.linkedin.com/in/richard-whittington-00940347/" target="_blank">Linkedin</a>
</div>






<%- include('partials/footer'); -%>