<%- include('partials/header'); -%>
<form action="">
  <input type="text">
  <input type="text">
  <button>Say Hello!</button>
</form>

<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
   <!-- add link to linkedin and github -->
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
  </ul>





<%- include('partials/footer'); -%>