<%- include('partials/titleheader'); -%>


<div class="titlePage" style="height: 100vh; background-color: #251749; color: #F3EFE0; margin: 0; padding: 0;">
  <ul class="frontPage">
    <a href="about"><li class="title">ABOUT ME</li></a>
    <li class="title"><a href="projects">MY PROJECTS</a></li>
    <li class="title"><a href="contact">CONTACT ME</a></li>
  </ul>
</div>



<%- include('partials/titlefooter'); -%>