<%- include('partials/titleheader'); -%>


 <div class="titlePage" > 
  <ul class="frontPage">
 <!-- <div class="row">
  <div class="col-6 col-sm-4">  -->
    <p class="fName">Richard Whittington-Full Stack Web Developer</p>
 
 
 
  
    <!-- <div class="col-6 col-sm-4">
    <div class="row text-end"> -->
      <!-- <div class=" col-6 col-sm-4"> -->
   <li class="title"><a href="about">ABOUT ME</a></li>
  <!-- </div>  -->

 <!-- readd other rows -->
  <!-- <div class="row text-end">  -->
  <!-- <div class="col-6 col-sm-4"> 
  <p class="fName">Richard Whittington-Web Developer</p>
</div>    -->
 
    <li class="title"><a href="projects">MY PROJECTS</a></li>

  <!-- </div> -->
  <!-- <div class="row text-end">   -->
    <!-- <div class="col-6 col-sm-4"> -->
    <li class="title"><a href="contact">CONTACT ME</a></li>
  <!-- </div> -->
  <!-- </div> -->
 

  </ul>
</div>



<%- include('partials/titlefooter'); -%>