<%- include('partials/titleheader'); -%>


<div class="titlePage">
  <ul class="frontPage">
    <li><h1 class="title">ABOUT ME</h1></li>
    <li><h1 class="title">MY PROJECTS</h1></li>
    <li><h1 class="title">CONTACT ME</h1></li>
  </ul>
</div>

<!-- maybe have a message ex-failte orbh to my portfolio, enjoy haveing a look around -->


<%- include('partials/titlefooter'); -%>