<%- include('partials/header'); -%>

<div class="mid-content">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
  
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="https://kilted2000.github.io/weather-app/" target="_blank">
            <img src="images/weatherApp.png" class="d-block w-100 proj" alt="..."></a>
            <div class="carousel-caption d-none d-md-block projCaptionLight">
              <h5>The weather app allows the user to search for the current weather all over the world. I used of the OpenWeather API for this app.</h5>
             <a href="https://kilted2000.github.io/weather-app/" target="_blank">Github</a>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://sign-up-now.onrender.com/" target="_blank">
            <img src="images/MailList.png" class="d-block w-100 proj" alt="..."></a>
            <div class="carousel-caption d-none d-md-block projCaption">
              <h5>This is an example of a Newletter Signup form using Node.js, Express.js, and the Mail Chimp API.</h5>
             <a href="https://github.com/kilted2000/newsletter-signup" target="_blank">Github</a>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://kilted2000.github.io/side-project/" target="_blank">
            <img src="images/sunAdventures.png" class="d-block w-100 proj" alt="..."></a>
            <div class="carousel-caption d-none d-md-block projCaption">
              <h5>A simple but responsive website I built as a possible design for a tour company based in Jamaica.</h5>
              <a href="https://github.com/kilted2000/side-project" target="_blank">Github</a>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://dark-pink-starfish-veil.cyclic.app/" target="_blank">
            <img src="images/todolist-v2.png" class="d-block w-100 proj" alt="..."></a>
            <div class="carousel-caption d-none d-md-block projCaption">
              <h5>This to do list app is a full stack web application using the MongoDB database.</h5>
             <a href="https://github.com/kilted2000/ToDoList-v2" target="_blank">Github</a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div>
      <a href="https://github.com/kilted2000" target="_blank" id="gHub">Full Github Profile</a>
    </div>
</div>




<%- include('partials/footer'); -%>